---
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import "../../../styles/global.css";
import CarouselRedGospel from "../../../components/Carousel.astro";

const images = [
  { src: "/concert/2.webp", alt: "Foto del Evento Bautizados en fuego" },
  { src: "/concert/3.webp", alt: "Foto del Evento Bautizados en fuego" },
  { src: "/concert/4.webp", alt: "Foto del Evento Bautizados en fuego" },
  { src: "/concert/6.webp", alt: "Foto del Evento Bautizados en fuego" },

  // Agrega más imágenes aquí
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>Galería del Evento - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Galería de fotos e información del evento pasado de la Iglesia Asambleas de Dios en Chipre, Manizales."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
    >
      <div class="w-full max-w-4xl mt-8">
        <CarouselRedGospel images={images} />
      </div>
      <div class="mt-8 text-center">
        <p class="text-lg text-gray-300">
          Concierto "Bautizados en Fuego". Este evento se realizó con el
          objetivo de buscar la llenura del Espíritu Santo. Fue una noche llena
          de adoración y presencia de Dios, donde los asistentes pudieron
          experimentar una conexión profunda y significativa.
          <br /><br />
          El concierto fue dirigido por el ministerio de alabanza de nuestra iglesia,
          llevando a la congregación a un tiempo de alabanza y reflexión. Hubo momentos
          de oración y ministración, donde muchas personas fueron tocadas y transformadas
          por el poder del Espíritu Santo.
          <br /><br />
          Agradecemos a todos los que asistieron y a los que colaboraron para que
          este evento fuera posible. ¡Esperamos verlos en nuestros próximos eventos!
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
