---
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import "../../../styles/global.css";
import Carousel from "../../../components/Carousel.astro";

const images = [
  { src: "/cenaServidores/2.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/3.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/4.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/5.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/6.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/7.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/8.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/9.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/10.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/12.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/13.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/14.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/15.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/16.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/17.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/18.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/19.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/20.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/21.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/22.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/23.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/24.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/25.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/26.webp", alt: "Foto Santa Cena" },
  { src: "/cenaServidores/27.webp", alt: "Foto Santa Cena" },
  // Agrega más imágenes aquí
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>
      Galería cena navideña de servidores - Iglesia Asambleas de Dios
    </title>
    <meta
      name="description"
      content="Galería de fotos e información del evento pasado de la Iglesia Asambleas de Dios en Chipre, Manizales."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
    ></script>
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
    >
      <h1 class="text-3xl font-bold text-center mt-4 text-white">
        Cena navideña de servidores
      </h1>
      <div class="w-full max-w-4xl mt-6">
        <Carousel images={images} />
      </div>
      <div class="mt-8 text-center">
        <p class="text-lg text-gray-300 mb-6 leading-relaxed">
          La "Cena de Servidores" fue un evento especial lleno de gratitud,
          reflexión y celebración, donde como equipo nos reunimos para dar
          gracias a Dios por permitirnos servirle y culminar juntos un año más
          en nuestra congregación. Durante esta velada, recordamos el ejemplo de
          Jesús, quien vino al mundo con humildad y un corazón dispuesto a
          servir, inspirándonos a seguir sus pasos en nuestra labor dentro del
          ministerio.
          <br />
          <br />
          A través de un mensaje edificante, reflexionamos sobre el privilegio y
          la responsabilidad de servir con amor y humildad, recordando que cada acto
          de servicio es una forma de honrar a Dios y bendecir a otros. Además, compartimos
          actividades que fortalecieron nuestra unidad como equipo, celebrando juntos
          los logros y aprendizajes del año. Fue una noche llena de alegría, compañerismo
          y renovación espiritual, donde reafirmamos nuestro compromiso de seguir
          sirviendo con excelencia y pasión en el próximo año.
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
