---
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import "../../../styles/global.css";
import CarouselRedGospel from "../../../components/Carousel.astro";

const images = [
  {
    src: "/prayerMothers/1.webp",
    alt: "Foto del Evento Oracion por las madres",
  },
  {
    src: "/prayerMothers/2.webp",
    alt: "Foto del Evento Oracion por las madres",
  },
  {
    src: "/prayerMothers/3.webp",
    alt: "Foto del Evento Oracion por las madres",
  },
  {
    src: "/prayerMothers/4.webp",
    alt: "Foto del Evento Oracion por las madres",
  },
  {
    src: "/prayerMothers/5.webp",
    alt: "Foto del Evento Oracion por las madres",
  },
  {
    src: "/prayerMothers/6.webp",
    alt: "Foto del Evento Oracion por las madres",
  },
  {
    src: "/prayerMothers/7.webp",
    alt: "Foto del Evento Oracion por las madres",
  },
  {
    src: "/prayerMothers/8.webp",
    alt: "Foto del Evento Oracion por las madres",
  },
  {
    src: "/prayerMothers/9.webp",
    alt: "Foto del Evento Oracion por las madres",
  },
  {
    src: "/prayerMothers/10.webp",
    alt: "Foto del Evento Oracion por las madres",
  },

  // Agrega más imágenes aquí
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>Galería del Evento - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Galería de fotos e información del evento pasado de la Iglesia Asambleas de Dios en Chipre, Manizales."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
    >
      <div class="w-full max-w-4xl mt-8">
        <CarouselRedGospel images={images} />
      </div>
      <div class="mt-8 text-center">
        <p class="text-lg text-gray-300">
          "Oración por las Madres" fue un evento lleno de amor y gratitud,
          dedicado a honrar a todas las madres de nuestra congregación y
          comunidad.
          <br /><br />
          El evento incluyó un servicio especial de alabanza y adoración, seguido
          de una poderosa sesión de oración donde se pidió por la salud, fortaleza
          y bienestar de todas las madres.
          <br /><br />
          Como muestra de aprecio, se entregaron pequeños obsequios a todas las madres
          asistentes. El evento culminó con un tiempo de convivencia en el salón
          de eventos de la iglesia, donde las familias compartieron alimentos y disfrutaron
          de un ambiente fraternal.
          <br /><br />
          Agradecemos a todos los que participaron y colaboraron para que este evento
          fuera un éxito. ¡Esperamos verlos en nuestras próximas actividades!
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
