---
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import "../../../styles/global.css";
import Carousel from "../../../components/Carousel.astro";

const images = [
  { src: "/encuentro2024/1.webp", alt: "Foto encuentro 1" },
  { src: "/encuentro2024/2.webp", alt: "Foto encuentro 2" },
  { src: "/encuentro2024/3.webp", alt: "Foto encuentro 3" },
  { src: "/encuentro2024/4.webp", alt: "Foto encuentro 4" },
  { src: "/encuentro2024/5.webp", alt: "Foto encuentro 5" },
  { src: "/encuentro2024/6.webp", alt: "Foto encuentro 6" },
  { src: "/encuentro2024/7.webp", alt: "Foto encuentro 7" },
  { src: "/encuentro2024/8.webp", alt: "Foto encuentro 8" },
  { src: "/encuentro2024/9.webp", alt: "Foto encuentro 9" },
  { src: "/bautizos2024/10.webp", alt: "Foto bautizos" },
  { src: "/bautizos2024/11.webp", alt: "Foto bautizos" },
  { src: "/bautizos2024/12.webp", alt: "Foto bautizos" },
  { src: "/bautizos2024/13.webp", alt: "Foto bautizos" },
  { src: "/bautizos2024/14.webp", alt: "Foto bautizos" },
  { src: "/bautizos2024/15.webp", alt: "Foto bautizos" },
  { src: "/bautizos2024/16.webp", alt: "Foto bautizos" },
  { src: "/bautizos2024/17.webp", alt: "Foto bautizos" },
  { src: "/bautizos2024/18.webp", alt: "Foto bautizos" },
  { src: "/bautizos2024/19.webp", alt: "Foto bautizos" },
  { src: "/bautizos2024/20.webp", alt: "Foto bautizos" },
  // Agrega más imágenes aquí
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <title>Galería del Evento - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Galería de fotos e información del evento pasado de la Iglesia Asambleas de Dios en Chipre, Manizales."
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
      defer></script>
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
      role="main"
    >
      <h1 class="text-3xl font-bold text-center mt-8 text-white">
        Encuentro con Jesús 2024
      </h1>
      <div class="mt-8 text-center">
        <p class="text-lg text-gray-300">
          El "Encuentro con Jesús" fue una jornada especial organizada por la
          iglesia Asambleas de Dios Chipre, diseñada para proporcionar una
          experiencia profunda y transformadora a través de la presencia y el
          amor de Jesús. Durante estos tres días, los participantes tuvieron la
          oportunidad de sumergirse en un ambiente de adoración, enseñanza
          bíblica y oración ferviente, con el objetivo de fortalecer su relación
          personal con Cristo y buscar la llenura del Espíritu Santo.
          <br /><br />
        </p>
        <p class="text-lg text-gray-300">
          Cada día se inició con un tiempo de alabanza dirigido por nuestro
          equipo de música, elevando nuestros corazones y voces en adoración a
          Dios. Contamos con la participación de predicadores de nuestra iglesia
          que compartieron mensajes inspiradores y basados en la Palabra de
          Dios, orientados a renovar nuestra fe y compromiso con el Señor.
          <br /><br />
        </p>
        <p class="text-lg text-gray-300">
          Escuchamos testimonios poderosos de personas cuyas vidas han sido
          transformadas por el encuentro con Jesús, ofreciendo esperanza y
          motivación a todos los asistentes. Hubo momentos dedicados a la
          oración personal y colectiva, con oportunidades para recibir
          ministración y apoyo espiritual por parte de nuestro equipo de
          intercesión.
          <br /><br />
        </p>
        <p class="text-lg text-gray-300">
          Finalizamos el evento cada día con un tiempo de comunión, permitiendo
          a los asistentes compartir y fortalecer lazos en un ambiente de amor y
          fraternidad cristiana.
          <br /><br />
        </p>
      </div>

      <div class="w-full max-w-4xl mt-8">
        <Carousel images={images} id="carousel1" />
      </div>

      <div
        class="text-left p-4 bg-gray-800 rounded mt-8 mb-4"
        role="region"
        aria-labelledby="verse-heading"
      >
        <h2
          id="verse-heading"
          class="text-2xl font-bold mb-4 text-white text-center"
        >
          Mateo 28:19
        </h2>
        <p class="text-lg text-gray-300 mb-2">
          "Id, pues, y haced discípulos de todas las naciones, bautizándolos en
          el nombre del Padre y del Hijo y del Espíritu Santo"
        </p>
      </div>

      <div class="mt-8 text-center">
        <p class="text-lg text-gray-300">
          En un acto de obediencia y testimonio, nuestros hermanos han
          descendido a las aguas del bautismo. Este momento sagrado simboliza su
          compromiso profundo y personal con la fe en Jesucristo. Al ser
          sumergidos en las aguas, han dejado atrás su vida pasada y han
          resurgido renovados, abrazando la gracia y el amor incondicional de
          nuestro Señor.
          <br /><br />
        </p>
        <p class="text-lg text-gray-300">
          Agradecemos a todos los participantes, voluntarios y oradores que
          hicieron posible este evento. Sus oraciones, apoyo y dedicación
          hicieron de "Encuentro con Jesús" una experiencia inolvidable y
          espiritualmente enriquecedora para todos.
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
