---
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import "../../../styles/global.css";
import Carousel from "../../../components/Carousel.astro";

const images = [
  { src: "/encuentro2024/1.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/2.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/3.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/4.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/5.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/6.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/7.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/8.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/9.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/10.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/11.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/12.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/13.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/14.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/15.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/16.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/17.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/18.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/1.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/2.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/3.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/4.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/5.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/6.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/7.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/8.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/9.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/10.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/11.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/12.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/13.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/14.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/15.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/16.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/bautizos2024/17.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/19.webp", alt: "Foto del encuentro con Jesús" },
  { src: "/encuentro2024/20.webp", alt: "Foto del encuentro con Jesús" },
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Encuentro con Jesús 2024 - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Galería de fotos e información del encuentro con Jesús 2024."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
    ></script>
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
    >
      <div class="mt-8 text-center">
        <p class="text-lg text-gray-300">
          El "Encuentro con Jesús" fue un evento especial de tres días
          organizado por la iglesia Asambleas de Dios Chipre, diseñado para
          ofrecer una experiencia profunda con la presencia y amor de Jesús. Los
          participantes disfrutaron de un ambiente de adoración, enseñanza
          bíblica y oración ferviente, con el objetivo de fortalecer su relación
          con Cristo y buscar la llenura del Espíritu Santo.
          <br /><br />
        </p>
        <p class="text-lg text-gray-300">
          Cada día comenzaba con alabanza dirigida por nuestro equipo de
          alabanza, seguido de mensajes inspiradores de nuestros predicadores.
          Escuchamos testimonios transformadores y tuvimos momentos de oración
          personal y colectiva, con apoyo espiritual de nuestro equipo de
          intercesión.
          <br /><br />
        </p>
        <p class="text-lg text-gray-300">
          El evento culminaba cada día con un tiempo de comunión, fortaleciendo
          los lazos de amor y fraternidad entre los asistentes.
          <br /><br />
        </p>
      </div>

      <div class="w-full max-w-4xl mt-8">
        <Carousel images={images} />
      </div>

      <div
        class="text-left p-4 bg-gray-800 rounded mt-8 mb-4"
        role="region"
        aria-labelledby="verse-heading"
      >
        <h2
          id="verse-heading"
          class="text-2xl font-bold mb-4 text-white text-center"
        >
          Mateo 28:19
        </h2>
        <p class="text-lg text-gray-300 mb-2">
          "Id, pues, y haced discípulos de todas las naciones, bautizándolos en
          el nombre del Padre y del Hijo y del Espíritu Santo"
        </p>
      </div>

      <div class="mt-8 text-center">
        <p class="text-lg text-gray-300">
          Nuestros hermanos han descendido a las aguas del bautismo en un acto
          de obediencia y testimonio, simbolizando su compromiso con Jesucristo.
          Al ser sumergidos, dejaron atrás su vida pasada y resurgieron
          renovados, abrazando la gracia y el amor del Señor.
          <br /><br />
        </p>
        <p class="text-lg text-gray-300">
          Agradecemos a todos los participantes, miembros del equipo y
          predicadores que hicieron posible este evento. Sus oraciones, apoyo y
          dedicación hicieron de "Encuentro con Jesús" una experiencia
          inolvidable y espiritualmente enriquecedora para todos.
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
