@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

:root {
  --primary-color: #00ff7f;
  --secondary-color: #00c4ff;
  --background-color: #1b1b32;
  --text-color: #e0e0e0;
  --highlight-color: rgba(0, 255, 127, 0.7);
  --highlight-color-secondary: rgba(0, 196, 255, 0.5);
}

.countdown-container {
  background: linear-gradient(135deg, #1b1b32, #222233);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background: linear-gradient(135deg, #1b1b32, #222233);
  }
  100% {
    background: linear-gradient(135deg, #222233, #1b1b32);
  }
}

#countdown-title {
  color: var(--text-color);
  font-family: "Orbitron", sans-serif;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.countdown-element {
  margin-bottom: 1rem;
  flex: 1;
  animation: fadeIn 1s ease-in-out;
  padding: 0.5rem;
}

.countdown-time-wrapper {
  perspective: 1000px;
}

.countdown-time {
  font-size: 2rem;
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 10px var(--highlight-color),
    0 0 20px var(--highlight-color-secondary);
  display: inline-block;
  transform-style: preserve-3d;
  transition: transform 0.5s, color 0.5s;
  font-family: "Orbitron", monospace;
}

.countdown-time.changing {
  animation: flip-up 0.5s, glow 1s infinite alternate;
}

@keyframes flip-up {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px var(--highlight-color),
      0 0 20px var(--highlight-color-secondary), 0 0 30px var(--primary-color);
  }
  100% {
    text-shadow: 0 0 20px var(--highlight-color),
      0 0 30px var(--highlight-color-secondary), 0 0 40px var(--primary-color);
  }
}

.countdown-label {
  font-size: 1rem;
  color: var(--text-color);
}

@media (min-width: 1024px) {
  .countdown-time {
    font-size: 3rem;
  }

  .countdown-label {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .countdown-time {
    font-size: 1.5rem;
  }

  .countdown-label {
    font-size: 1rem;
  }

  .countdown-element {
    padding: 1rem;
  }
}

@media (max-width: 640px) {
  .countdown-time {
    font-size: 1rem;
  }

  .countdown-label {
    font-size: 0.8rem;
  }

  .countdown-element {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }
}

.hidden {
  display: none;
}

.animate-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

#live-notification {
  text-decoration: none;
  color: inherit;
}

#live-notification:hover {
  color: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
