.header {
  color: white;
  padding: 3rem 0 1rem 0;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffcc00;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.logo-img {
  height: 100%;
  width: auto;
}

.mobile-menu-button {
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .logo-container {
    width: auto;
    padding: 2;
  }

  .mobile-menu-button {
    display: flex;
  }
}

@media (min-width: 769px) {
  .nav-links {
    display: flex;
  }

  .mobile-nav {
    display: none;
  }
}
