.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgba(31, 41, 55, 0.9); /* Slightly transparent background */
  backdrop-filter: blur(10px); /* Blur effect for background */
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  text-align: center;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-title {
  font-size: 1.5rem; /* Increased font size */
  font-weight: bold;
  margin-bottom: 0.5rem; /* Increased margin for better spacing */
  color: white;
}

.modal-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  gap: 1rem; /* Increased gap between cards */
}

.modal-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 1.5rem; /* Increased padding for larger cards */
}

.modal-item-title,
.modal-item-time {
  position: relative;
  z-index: 1; /* Ensure text is above the background */
}

.modal-item-title {
  font-size: 1.3rem; /* Increased font size */
  font-weight: bold;
  color: white;
}

.modal-item-time {
  font-size: 1rem; /* Increased font size */
  color: #ccc;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay to make text more legible */
  z-index: 0;
}

.bg-miércoles {
  background-image: url("/schedule/3.webp"); /* Add path to your image */
  background-size: cover;
  background-position: top;
}

.bg-viernes {
  background-image: url("/schedule/2.webp"); /* Add path to your image */
  background-size: cover;
  background-position: top;
}

.bg-sábado {
  background-image: url("/youths/8.webp"); /* Add path to your image */
  background-size: cover;
  background-position: top;
}

.bg-domingo {
  background-image: url("/schedule/7.webp"); /* Add path to your image */
  background-size: cover;
  background-position: top;
}

@media (max-width: 768px) {
  .modal-grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjusted grid for smaller screens */
  }

  .modal-title {
    font-size: 1.2rem; /* Adjusted font size for smaller screens */
    margin-bottom: 1rem; /* Adjusted margin for smaller screens */
  }

  .modal-item-title {
    font-size: 1.25rem; /* Adjusted font size for smaller screens */
  }

  .modal-item-time {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }
}
