.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  text-align: center;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.modal-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.modal-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.modal-item-title,
.modal-item-time {
  position: relative;
  z-index: 1; /* Ensure text is above the background */
}

.modal-item-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.modal-item-time {
  color: #ccc;
}

@media (max-width: 768px) {
  .modal-grid {
    grid-template-columns: 1fr 1fr;
  }
}
