<!-- Sección de Nuestro Compromiso con Iconos -->
<section class="p-4 bg-gradient-to-b from-gray-900 to-gray-700 text-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Nuestro Compromiso</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
      <div class="p-4 flex">
        <div
          class="p-6 rounded-lg shadow-lg bg-gray-800 hover:bg-gray-700 transform transition duration-300 hover:scale-105 flex flex-col items-center"
        >
          <i
            class="fas fa-chalkboard-teacher text-4xl text-white text-opacity-70 mb-4"
            aria-hidden="true"></i>
          <h3 class="text-xl font-bold mb-2">Enseñanza</h3>
          <p class="text-gray-300 text-center">
            Comprometidos con la enseñanza de la palabra de Dios.
          </p>
        </div>
      </div>
      <div class="p-4 flex">
        <div
          class="p-6 rounded-lg shadow-lg bg-gray-800 hover:bg-gray-700 transform transition duration-300 hover:scale-105 flex flex-col items-center"
        >
          <i
            class="fas fa-hands-helping text-4xl text-white text-opacity-70 mb-4"
            aria-hidden="true"></i>
          <h3 class="text-xl font-bold mb-2">Apoyo</h3>
          <p class="text-gray-300 text-center">
            Ofrecemos apoyo tangible a quienes lo necesitan.
          </p>
        </div>
      </div>
      <div class="p-4 flex">
        <div
          class="p-6 rounded-lg shadow-lg bg-gray-800 hover:bg-gray-700 transform transition duration-300 hover:scale-105 flex flex-col items-center"
        >
          <i
            class="fas fa-users text-4xl text-white text-opacity-70 mb-4"
            aria-hidden="true"></i>
          <h3 class="text-xl font-bold mb-2">Comunidad</h3>
          <p class="text-gray-300 text-center">
            Fomentamos un sentido de comunidad y pertenencia.
          </p>
        </div>
      </div>
      <div class="p-4 flex">
        <div
          class="p-6 rounded-lg shadow-lg bg-gray-800 hover:bg-gray-700 transform transition duration-300 hover:scale-105 flex flex-col items-center"
        >
          <i
            class="fas fa-praying-hands text-4xl text-white text-opacity-70 mb-4"
            aria-hidden="true"></i>
          <h3 class="text-xl font-bold mb-2">Fe</h3>
          <p class="text-gray-300 text-center">
            Fortalecemos la fe de nuestros miembros.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sección de Nuestras Tareas con Iconos -->
<section class="p-4 bg-gray-700 text-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Nuestras Tareas</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="p-4 flex">
        <div
          class="p-6 rounded-lg shadow-lg bg-gray-800 hover:bg-gray-700 transform transition duration-300 hover:scale-105 flex flex-col items-center"
        >
          <i
            class="fas fa-book text-4xl text-white text-opacity-70 mb-4"
            aria-hidden="true"></i>
          <h3 class="text-xl font-bold mb-2">Discipular</h3>
          <p class="text-gray-300 text-center">
            Guiar a los nuevos creyentes en sus primeros pasos para conocer y
            crecer en su relación con Dios.
          </p>
        </div>
      </div>
      <div class="p-4 flex">
        <div
          class="p-6 rounded-lg shadow-lg bg-gray-800 hover:bg-gray-700 transform transition duration-300 hover:scale-105 flex flex-col items-center"
        >
          <i
            class="fas fa-water text-4xl text-white text-opacity-70 mb-4"
            aria-hidden="true"></i>
          <h3 class="text-xl font-bold mb-2">Bautizar</h3>
          <p class="text-gray-300 text-center">
            Cumplir con el mandato de Cristo y demostrar públicamente una nueva
            vida en Él a través del bautismo.
          </p>
        </div>
      </div>
      <div class="p-4 flex">
        <div
          class="p-6 rounded-lg shadow-lg bg-gray-800 hover:bg-gray-700 transform transition duration-300 hover:scale-105 flex flex-col items-center"
        >
          <i
            class="fas fa-graduation-cap text-4xl text-white text-opacity-70 mb-4"
            aria-hidden="true"></i>
          <h3 class="text-xl font-bold mb-2">Capacitar</h3>
          <p class="text-gray-300 text-center">
            Brindar conocimiento y experiencia para equipar a los creyentes en
            su servicio a Dios.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
