<section class="p-4 bg-gray-700">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Nuestra Historia</h2>
    <div class="flex flex-wrap justify-center">
      <div class="w-full md:w-2/3 lg:w-1/2 p-4">
        <p class="text-lg mb-8 leading-relaxed">
          La historia de nuestra iglesia comienza en el año 1975, cuando un
          grupo de misioneros estadounidenses llega a Manizales con el propósito
          de compartir su fe y servir a la comunidad. A lo largo de los años,
          hemos sido testigos de innumerables milagros y hemos visto cómo Dios
          ha obrado en las familias y personas en nuestra casa de oración.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Sección de Expansión y Presencia con Carrusel -->
<section class="p-4 bg-gray-700 text-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Expansión y Presencia</h2>
    <div class="flex flex-wrap justify-center">
      <div class="w-full md:w-2/3 lg:w-1/2 p-4">
        <p class="text-lg leading-relaxed">
          Hoy en día, contamos con iglesias hijas en diferentes municipios de
          Caldas, como Riosucio, Filadelfia, Villamaría, Salamina y Manzanares.
          Además, en nuestra ciudad estamos presentes en el barrio La Enea,
          extendiendo nuestro alcance y llevando el mensaje de Cristo a más
          comunidades.
        </p>
      </div>
    </div>
  </div>
</section>
