---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/style.css";
import "../../styles/global.css";
import GeneralInformation from "./components/GeneralInformation.astro";
import PrayersCountry from "./components/PrayersCountry.astro";
import GeographicData from "./components/GeographicData.astro";
import MissionsImages from "./components/MissionsImages.astro";
const images = [
  { src: "/concert/2.webp", alt: "Foto del Evento Bautizados en fuego" },
  { src: "/concert/3.webp", alt: "Foto del Evento Bautizados en fuego" },
  { src: "/concert/4.webp", alt: "Foto del Evento Bautizados en fuego" },
  { src: "/concert/6.webp", alt: "Foto del Evento Bautizados en fuego" },

  // Agrega más imágenes aquí
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <title>Misiones | Asambleas de Dios</title>
    <meta
      name="description"
      content="Información y guías de oración para Cuba proporcionadas por la Iglesia Asambleas de Dios."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body class="bg-gray-900 text-white">
    <Header />
    <main
      class="w-full bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700"
    >
      <div class="text-center text-4xl">
        <strong class="text-yellow-400">CUBA </strong>
      </div>
      <section class="max-w-4xl mx-auto px-4 md:p-8">
        <MissionsImages />
        <GeographicData />
        <GeneralInformation />
        <PrayersCountry />
      </section>
    </main>

    <Footer />
    <!-- Cargar JavaScript de forma asíncrona -->
  </body>
</html>
