<section class="p-4 bg-gradient-to-b from-gray-900 to-gray-700 text-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Nuestra Historia</h2>
    <div class="flex flex-wrap justify-center">
      <div class="w-full md:w-2/3 lg:w-1/2 p-4">
        <p class="text-lg mb-8 leading-relaxed">
          La historia de nuestra iglesia comienza en el año 1975, cuando un
          grupo de misioneros estadounidenses llega a Manizales con el propósito
          de compartir su fe y servir a la comunidad. A lo largo de los años,
          hemos sido testigos de innumerables milagros y hemos visto cómo Dios
          ha obrado en las familias y personas en nuestra casa de oración.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Sección de Afiliación y Liderazgo con Tarjetas -->
<section class="p-4 bg-gradient-to-t from-gray-900 to-gray-700 text-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Afiliación y Liderazgo</h2>
    <div class="flex flex-wrap justify-center lg:justify-between gap-4">
      <div class="w-full sm:w-1/2 lg:w-1/2 p-4">
        <div
          class="bg-gray-800 p-6 rounded-lg shadow-lg transform transition duration-300 hover:scale-105 flex items-center"
        >
          <img
            src="/about/1.webp"
            alt="Pastor Edier Izquierdo"
            class="w-32 h-32 object-cover rounded-full mr-4"
          />
          <div class="text-left">
            <h3 class="text-xl font-bold mb-2">Pastor Edier Izquierdo</h3>
            <p class="text-gray-300">
              Guía espiritual y líder de nuestra congregación desde 1998.
            </p>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/2 p-4">
        <div
          class="bg-gray-800 p-6 rounded-lg shadow-lg transform transition duration-300 hover:scale-105 flex items-center"
        >
          <img
            src="/about/2.webp"
            alt="Pastora Alexandra Núñez"
            class="w-32 h-32 object-cover rounded-full mr-4"
          />
          <div class="text-left">
            <h3 class="text-xl font-bold mb-2">Pastora Alexandra Núñez</h3>
            <p class="text-gray-300">
              Co-líder y guía espiritual, comprometida con nuestra comunidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sección de Visión y Misión -->
<section class="p-4 bg-gradient-to-b from-gray-900 to-gray-700 text-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Visión</h2>
    <h3 class="text-lg font-bold mb-4">
      “SERVIR A DIOS CON AMOR, ORDEN Y EXCELENCIA”
    </h3>
    <p class="text-lg mb-8 leading-relaxed">
      Ser una iglesia que cuente con un liderazgo empoderado y miembros
      enfocados en el servicio, lo cual se demuestra en un corazón servicial,
      crecimiento en número de servidores y creyentes, y en la capacitación a
      través del centro de formación, caracterizándose por trabajar en equipo y
      por compartir dentro y fuera de nuestras instalaciones el mensaje de
      salvación con amor, orden y excelencia.
    </p>
  </div>
</section>

<section class="p-4 bg-gradient-to-t from-gray-900 to-gray-700 text-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Misión</h2>
    <h3 class="text-lg font-bold mb-4">
      “CAPACITARNOS PARA SERVIR A DIOS CON AMOR, ORDEN Y EXCELENCIA”
    </h3>
    <p class="text-lg mb-8 leading-relaxed">
      Bajo la dirección del Espíritu Santo, consolidar el liderazgo a través del
      centro de formación, capacitando a todos los creyentes, guiándoles a
      descubrir su llamado, dones y talentos y animándoles a servir con amor,
      orden y excelencia, extendiendo el Reino de Dios.
    </p>
  </div>
</section>

<!-- Sección de Expansión y Presencia con Carrusel -->
<section class="p-4 bg-gradient-to-b from-gray-900 to-gray-700 text-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Expansión y Presencia</h2>
    <div class="flex flex-wrap justify-center">
      <div class="w-full md:w-2/3 lg:w-1/2 p-4">
        <p class="text-lg leading-relaxed">
          Hoy en día, contamos con iglesias hijas en diferentes municipios de
          Caldas, como Riosucio, Filadelfia, Villamaría, Salamina y Manzanares.
          Además, en nuestra ciudad estamos presentes en el barrio La Enea,
          extendiendo nuestro alcance y llevando el mensaje de Cristo a más
          comunidades.
        </p>
      </div>
    </div>
  </div>
</section>
