<section
  class="py-4 px-4 bg-gradient-to-t from-gray-900 to-gray-700 text-gray-200"
>
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Invitación</h2>
    <p class="text-lg mb-8 leading-relaxed">
      Invitamos a todos a unirse a nosotros en este viaje de fe y a experimentar
      el amor y la gracia de Dios en nuestra congregación. Creemos que cada
      persona tiene un lugar en la familia de Dios y estamos emocionados de dar
      la bienvenida a nuevos miembros que deseen crecer espiritualmente y servir
      junto a nosotros.
    </p>
  </div>
</section>
