<div class="mb-8">
  <h2 class="text-3xl font-bold text-center text-yellow-400 my-4">
    Generalidades de Argelia
  </h2>
  <div class="space-y-6">
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      Argelia, la nación más grande de África, tiene una rica historia que se
      remonta a los bereberes, sus primeros habitantes nativos. La influencia
      extranjera comenzó en el siglo V a.C., con las expansiones islámicas de
      los siglos VIII y XI trayendo la religión musulmana y la lengua árabe. La
      dominación colonial francesa en el siglo XIX introdujo el ethos francés y
      las ideas socialistas, influyendo en la cultura y el pensamiento
      argelinos.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      La independencia se logró en 1962 tras una sangrienta rebelión contra el
      dominio francés. Posteriormente, gobiernos socialistas con fuertes
      lealtades militaristas controlaron las políticas y el comercio. Los
      grandes yacimientos de petróleo y gas natural ofrecían esperanzas de
      crecimiento económico, pero los bajos precios del petróleo
      desestabilizaron la economía argelina.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      Durante la década de 1990, Argelia sufrió una brutal guerra civil entre
      las fuerzas militares y los militantes islamistas, cobrando más de 100.000
      vidas. Aunque los grupos extremistas musulmanes violentos no cuentan con
      amplio apoyo popular, la fuerte influencia del Islam y la promoción de
      ideales extremistas por parte del gobierno siguen afectando el clima
      espiritual de la nación.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      A pesar de la persecución sistemática y las leyes que prohíben el culto no
      musulmán, el cristianismo se expande en Argelia. Se estima que hay 600.000
      creyentes en la actualidad. Las congregaciones, compuestas por creyentes
      árabes, bereberes y extranjeros, están experimentando una gran unidad y
      exhiben una vibrante expresión nacional de fe.
    </p>
  </div>

  <div class="mb-8">
    <h2 class="text-3xl font-bold text-center text-yellow-400 my-4">
      Persecución Religiosa
    </h2>
    <div class="space-y-6">
      <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
        Los principales impulsores de la persecución en Argelia son la sociedad
        y los profesores islámicos extremistas que influyen sobre las
        autoridades estatales. Los cristianos, especialmente los conversos del
        islam, sufren acoso y discriminación en su vida cotidiana, tanto de sus
        familias como de sus comunidades.
      </p>
      <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
        El gobierno ha aumentado la presión sobre los cristianos protestantes,
        cerrando iglesias y amenazando con procesar a líderes eclesiásticos. Las
        leyes restrictivas prohíben cualquier cosa que "sacuda la fe de un
        musulmán" o pueda utilizarse para convertir a un musulmán a otra
        religión, lo que limita severamente la libertad religiosa de los
        cristianos.
      </p>
    </div>
  </div>
</div>
