<div class="mb-8">
  <h2 class="text-3xl font-bold text-center text-yellow-400 mb-4 mt-4">
    Generalidades de Islas Salomón
  </h2>
  <div class="space-y-6">
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      Las Islas Salomón, nombradas así por el explorador español Álvaro de
      Mendaña de Neira en 1568, se encuentran al este de Papúa Nueva Guinea en
      el océano Pacífico. Bajo dominio británico desde 1893, las islas
      obtuvieron su independencia en 1978. La batalla de Guadalcanal durante la
      II Guerra Mundial tuvo lugar aquí, unificando a los pueblos divididos de
      las islas.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      La economía de las Islas Salomón se basa en la agricultura, la pesca y la
      silvicultura, con el pescado y la madera como principales exportaciones.
      Sin embargo, la mayoría de las industrias son de propiedad extranjera y
      los recursos minerales están poco desarrollados. Las tensiones étnicas han
      llevado a la violencia, como el golpe de estado en 2000 y la llegada de
      una fuerza policial australiana en 2003.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      La Iglesia de las Islas Salomón ha crecido significativamente en los
      últimos cien años, pasando de representar el 30% a más del 95% de la
      población. A pesar de su historia de resurgimientos, la Iglesia enfrenta
      desafíos de estancamiento y necesita revitalización. Las divisiones
      étnicas y geográficas, junto con las barreras lingüísticas y culturales,
      complican la labor cristiana. Las denominaciones se dividen según las
      líneas tribales, lo que requiere enfoques específicos para cada grupo
      étnico.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      El grupo étnico "are are" en la isla de Malaita es un ejemplo de la
      diversidad en las Islas Salomón. Aunque el 80% de la población se
      considera cristiana, muchos practican el sincretismo o el neopaganismo. La
      agricultura es su principal sustento, cultivando taro, ñame, batata y
      recogiendo cocos. A pesar de su apertura al cristianismo, las Escrituras
      no están traducidas a su lengua y no hay planes actuales para asignar un
      nuevo equipo misionero.
    </p>
  </div>

  <!-- <div class="mb-8">
  <h2 class="text-3xl font-bold text-center text-yellow-400 mb-4">
    Persecución Religiosa
  </h2>
  <div class="space-y-6">
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      En 2010, Cuba pasó de ser una nación atea a una laica, reduciendo la
      persecución religiosa manifiesta. Sin embargo, las iglesias deben
      registrarse en el Consejo Cubano de Iglesias (CCC) para operar legalmente
      y enfrentan numerosas restricciones y vigilancia.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      Las iglesias no registradas enfrentan multas, demolición de edificios y
      otras sanciones. Incluso las registradas operan bajo una vigilancia
      intensa.
    </p>
  </div> -->
</div>
