<div class="mb-8">
  <h2 class="text-3xl font-bold text-center text-yellow-400 mb-4 mt-4">
    Generalidades de Bélgica
  </h2>
  <div class="space-y-6">
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      Bélgica, aunque pequeña, tiene una gran influencia mundial con su capital,
      Bruselas, como sede de la Unión Europea. Es una nación industrializada,
      especializada en la fabricación de metales, construcción y producción de
      alimentos. La población está dividida entre flamencos, de habla
      neerlandesa, en el norte, y valones, de habla francesa, en el sur, lo que
      ha afectado su cohesión política. Desde su independencia de Holanda en
      1830, ha sufrido ocupaciones y conflictos, y recientemente enfrentó
      desafíos económicos debido a la crisis financiera de 2008 y la pandemia de
      COVID-19.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      La economía belga sufre por el envejecimiento de la población y el aumento
      de los gastos sociales. Además, las oleadas de inmigrantes han generado
      tensiones sociales, exacerbadas por los atentados de 2016 en Bruselas.
      Bélgica es mayoritariamente secular, con un 31% de la población
      identificándose como ateos o no religiosos, y aunque casi la mitad se
      considera católica, solo un pequeño porcentaje asiste a misa regularmente.
      La vida en Bélgica refleja una tendencia hacia la secularización.
    </p>
  </div>
</div>

<div class="mb-8">
  <h2 class="text-3xl font-bold text-center text-yellow-400 mb-4">
    Persecución Religiosa
  </h2>
  <div class="space-y-6">
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      Bélgica permite la libertad religiosa, pero los medios de comunicación
      sesgan la percepción de los protestantes. Aunque la mitad de la población
      es católica, la asistencia a misa es baja y la mayoría de los belgas viven
      una vida secular. No obstante, las iglesias internacionales están
      creciendo en popularidad y la fe evangélica es fuerte, impulsada
      principalmente por inmigrantes.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      Las iglesias evangélicas, especialmente las fundadas por inmigrantes,
      simbolizan la unidad en una nación dividida. A pesar de la percepción
      negativa de los inmigrantes, estas congregaciones ofrecen esperanza y
      comunidad. Un avivamiento espiritual en Bélgica podría impactar
      positivamente al mundo, especialmente en regiones como Valonia, donde el
      secularismo predomina y la práctica religiosa es baja, presentando
      oportunidades para el crecimiento espiritual.
    </p>
  </div>
  <!-- <div class="mb-8">
  <h2 class="text-3xl font-bold text-center text-yellow-400 mb-4">
    Persecución Religiosa
  </h2>
  <div class="space-y-6">
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      En 2010, Cuba pasó de ser una nación atea a una laica, reduciendo la
      persecución religiosa manifiesta. Sin embargo, las iglesias deben
      registrarse en el Consejo Cubano de Iglesias (CCC) para operar legalmente
      y enfrentan numerosas restricciones y vigilancia.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      Las iglesias no registradas enfrentan multas, demolición de edificios y
      otras sanciones. Incluso las registradas operan bajo una vigilancia
      intensa.
    </p>
  </div> -->
</div>
