<div class="mb-8">
  <h2 class="text-3xl font-bold text-center text-yellow-400 mb-4 mt-4">
    Generalidades de Cuba
  </h2>
  <div class="space-y-6">
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      "Resolver" es un verbo cubano que significa arreglárselas con destreza
      creativa. Con el fin de la ayuda soviética, el embargo de EE.UU., y las
      luchas de sus propios ministerios estatales, los cubanos han encontrado
      medios creativos para sobrevivir.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      Los cubanos aman a su país y valoran la seguridad, sanidad y educación
      proporcionadas por el Estado, pero los servicios públicos a menudo no son
      fiables.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      El Estado cubano es totalitario y limita la libertad personal. Aunque
      implementó reformas económicas en 2010, el 80% de los cubanos trabajan
      para el gobierno, y dependen de las remesas del extranjero.
    </p>
  </div>
</div>

<div class="mb-8">
  <h2 class="text-3xl font-bold text-center text-yellow-400 mb-4">
    Persecución Religiosa
  </h2>
  <div class="space-y-6">
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      En 2010, Cuba pasó de ser una nación atea a una laica, reduciendo la
      persecución religiosa manifiesta. Sin embargo, las iglesias deben
      registrarse en el Consejo Cubano de Iglesias (CCC) para operar legalmente
      y enfrentan numerosas restricciones y vigilancia.
    </p>
    <p class="text-lg bg-gray-800 p-4 rounded-lg text-justify">
      Las iglesias no registradas enfrentan multas, demolición de edificios y
      otras sanciones. Incluso las registradas operan bajo una vigilancia
      intensa.
    </p>
  </div>
</div>
