<div class="flex flex-col items-center space-y-6 mt-8">
  <div class="p-4 bg-gray-600 rounded-lg w-full text-center">
    <h2 class="text-2xl font-bold text-yellow-400 mb-4">Información General</h2>
    <div class="grid grid-cols-2 gap-4">
      <div class="text-lg">
        <strong class="text-yellow-400">Continente: </strong>África
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Capital: </strong>Mogadiscio
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Población: </strong>18.706.922
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Idiomas oficiales: </strong>Somalí,
        árabe (Pocos lo hablan)
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Número de idiomas: </strong>15
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Número total de Etnias: </strong>22
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400"
          >Número total de Etnias no alcanzadas:
        </strong>20
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400"
          >Religión principal en grupos no alcanzados:</strong
        > Musulmana
      </div>
      <!-- <div class="text-lg">
        <strong class="text-yellow-400">Otros idiomas: </strong>Francés e inglés
        muy extendidos, 25% habla lenguas bereberes
      </div> -->
    </div>
  </div>
  <!-- <div class="p-4 bg-gray-600 rounded-lg w-full text-center">
    <h2 class="text-2xl font-bold text-yellow-400 mb-4">
      Religión principal en grupos no alcanzados:
    </h2>
    <p class="text-lg">Musulmana</p>
  </div> -->
</div>
