<div class="flex flex-col items-center space-y-6 mt-8">
  <div class="p-4 bg-gray-800 rounded-lg w-full text-center">
    <h2 class="text-2xl font-bold text-yellow-400 mb-4">Información General</h2>
    <div class="grid grid-cols-2 gap-4">
      <div class="text-lg">
        <strong class="text-yellow-400">Continente:</strong> América del Norte
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Capital:</strong> La Habana
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Población:</strong> 11,174,587
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Idioma oficial:</strong> Español
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Número total de Etnias:</strong>
        17
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Grupos no alcanzados:</strong> 2
      </div>
    </div>
  </div>
  <div class="p-4 bg-gray-800 rounded-lg w-full text-center">
    <h2 class="text-2xl font-bold text-yellow-400 mb-4">Religiones</h2>
    <p class="text-lg">
      Religión popular, santería, budismo, hinduismo, judaísmo, musulmanes
    </p>
  </div>
</div>
