<div class="flex flex-col items-center space-y-6 mt-8">
  <div class="p-4 bg-gray-800 rounded-lg w-full text-center">
    <h2 class="text-2xl font-bold text-yellow-400 mb-4">Información General</h2>
    <div class="grid grid-cols-2 gap-4">
      <div class="text-lg">
        <strong class="text-yellow-400">Continente: </strong>Pacífico
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Capital: </strong>Honiara
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Población: </strong>756,673
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Idioma oficial: </strong>Inglés
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Idiomas: </strong>71
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400">Número total de Etnias: </strong>74
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400"
          >Número total de Etnias no alcanzadas:
        </strong>0
      </div>
      <div class="text-lg">
        <strong class="text-yellow-400"
          >Principales grupos étnicos:
        </strong>Melanesios, polinesios, micronesios, entre otros
      </div>
    </div>
  </div>
  <div class="p-4 bg-gray-800 rounded-lg w-full text-center">
    <h2 class="text-2xl font-bold text-yellow-400 mb-4">Religiones:</h2>
    <p class="text-lg">
      Protestante, católicos, otros, cristiano y no especificado
    </p>
  </div>
</div>
