---
import Carousel from "../../../components/Carousel.astro";

const images = [
  { src: "/missions/2.webp", alt: "Foto del pais misionero" },
  { src: "/missions/3.webp", alt: "Foto del pais misionero" },
  { src: "/missions/4.webp", alt: "Foto del pais misionero" },
  { src: "/missions/5.webp", alt: "Foto del pais misionero" },
  { src: "/missions/6.webp", alt: "Foto del pais misionero" },
  { src: "/missions/7.webp", alt: "Foto del pais misionero" },
  { src: "/missions/8.webp", alt: "Foto del pais misionero" },

  // Agrega más imágenes aquí
];
---

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
></script>

<div class="w-full max-w-5xl mt-8">
  <Carousel images={images} />
</div>
