<div>
  <h2 class="text-3xl font-bold text-center text-yellow-400 mb-4">
    Oremos por Bélgica
  </h2>
  <ul class="list-disc list-inside mt-6 space-y-2 bg-gray-800 p-4 rounded-lg">
    <li class="text-lg">
      Por una verdadera reconciliación y unidad entre flamencos y valones.
    </li>
    <li class="text-lg">
      Para que los inmigrantes y extranjeros sean acogidos en una comunidad
      cristiana vibrante.
    </li>
    <li class="text-lg">
      Para que Bruselas sea una ciudad clave para el avivamiento espiritual
      donde la gente sea atraída a Cristo.
    </li>
    <li class="text-lg">
      Para que la Iglesia demuestre unidad y sea utilizada para lograr la
      verdadera reconciliación y la paz.
    </li>
    <li class="text-lg">
      Para que la palabra de Dios arraigue profundamente en la sociedad belga.
    </li>
    <li class="text-lg">
      Por los comportamientos y estilos de vida asociados durante mucho tiempo
      con la impiedad se han normalizado en gran parte de la vida belga.
    </li>
  </ul>
</div>
