<div class="pb-20">
  <h2 class="text-3xl font-bold text-center text-yellow-400 my-4">
    Oremos por Argelia
  </h2>
  <ul class="list-disc list-inside mt-6 space-y-2 bg-gray-600 p-4 rounded-lg">
    <li class="text-lg">
      Para que la Palabra de Dios llegue a las manos, los hogares y los
      corazones de los argelinos.
    </li>
    <li class="text-lg">
      Para que la intensificación de la persecución envalentone y multiplique a
      esta Iglesia en crecimiento.
    </li>
    <li class="text-lg">
      Por creyentes argelinos equipados y compasivos para proclamar a Jesús en
      todo el país.
    </li>
    <li class="text-lg">
      Para que Dios continúe moviéndose poderosamente en Argelia, atrayendo a
      muchos a sí mismo a través del testimonio de creyentes valientes y
      esfuerzos misioneros eficaces a los vecinos musulmanes.
    </li>
    <li class="text-lg">
      Por una mayor distribución de recursos cristianos en idiomas y formatos
      que permitan a la iglesia perseguida seguir creciendo y extendiéndose,
      especialmente con la creciente presión del gobierno sobre las iglesias.
    </li>
    <li class="text-lg">
      Para que Dios esté con los líderes de las iglesias argelinas y con los
      cristianos que han visto cerrar sus iglesias, que intervenga y ayude a los
      creyentes a encontrar la manera de reunirse.
    </li>
    <li class="text-lg">
      Para que cada cristiano en Argelia pueda adorar libremente con otros
      cristianos, y que Dios les proteja del abuso y la opresión de la familia y
      la comunidad.
    </li>
  </ul>
</div>
