<div>
  <h2 class="text-3xl font-bold text-center text-yellow-400 mb-4">
    Oremos por Cuba
  </h2>
  <ul class="list-disc list-inside mt-6 space-y-2 bg-gray-800 p-4 rounded-lg">
    <li class="text-lg">
      Que la diáspora cubana encuentre a Cristo e influya en su patria original.
    </li>
    <li class="text-lg">Por reformas razonables, libertad y perdón.</li>
    <li class="text-lg">
      Por una amplia distribución y compromiso con la Palabra de Dios.
    </li>
    <li class="text-lg">
      Por el favor gubernamental hacia las iglesias y ministerios evangélicos.
    </li>
    <li class="text-lg">
      Para que los creyentes cubanos tengan el valor de defender sus
      convicciones cristianas.
    </li>
    <li class="text-lg">
      Para que los líderes de Cuba permitan que las iglesias se reúnan abierta y
      legalmente.
    </li>
  </ul>
</div>
