<div>
  <h2 class="text-3xl font-bold text-center text-yellow-400 mb-4">
    Oremos por Bélgica
  </h2>
  <ul class="list-disc list-inside mt-6 space-y-2 bg-gray-800 p-4 rounded-lg">
    <li class="text-lg">
      Por una reconciliación y unidad verdadera que curen los conflictos étnicos
      y la división.
    </li>
    <li class="text-lg">
      Para que el Espíritu Santo encienda el avivamiento mientras se predica la
      Palabra de Dios.
    </li>
    <li class="text-lg">
      Por un progreso eficaz y rápido de las traducciones de la Biblia a las
      lenguas indígenas.
    </li>
    <li class="text-lg">
      Para que el cristianismo arraigue en cada grupo de forma relevante y pueda
      superar la división.
    </li>
    <li class="text-lg">
      Por el verdadero perdón y la reconciliación que sólo llegan a través del
      arrepentimiento. Sin ellos, la nación nunca podrá progresar
      verdaderamente.
    </li>
  </ul>
</div>
