<div class="pb-20">
  <h2 class="text-3xl font-bold text-center text-yellow-400 my-4">
    Oremos por Somalia
  </h2>
  <ul class="list-disc list-inside mt-6 space-y-2 bg-gray-600 p-4 rounded-lg">
    <li class="text-lg">
      Por la minoría creyente que sufre gran persecución y martirio.
    </li>
    <li class="text-lg">
      Por el valor y la fortaleza de quienes comparten su fe con valentía.
    </li>
    <li class="text-lg">
      Por el compañerismo seguro y el aliento para los creyentes aislados.
    </li>
    <li class="text-lg">
      Para que más misioneros sean llamados a trabajar entre estas personas.
    </li>
    <li class="text-lg">
      Para que los creyentes que lo arriesgan todo por seguir a Jesús tengan
      fuerza para perseverar en su fe a pesar de los peligros.
    </li>
    <li class="text-lg">
      Por la protección de los cristianos que corren peligro por parte de
      militantes islámicos y de sus propias familias y comunidades.
    </li>
    <li class="text-lg">
      Para que los creyentes aislados tengan oportunidades de confraternizar, y
      para que se les dé sabiduría y valor para saber cómo vivir su fe.
    </li>
  </ul>
</div>
