---
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import "../../../styles/global.css"; // Asegúrate de que la ruta del archivo CSS sea correcta
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalles del Evento - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Detalles del próximo evento de la Iglesia Asambleas de Dios en Chipre, Manizales."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
    >
      <div class="w-full max-w-4xl mt-8">
        <img
          src="/img/Encuentro2024.jpg"
          alt="Encuentro con Jesús 2024"
          class="w-full rounded"
        />
      </div>
      <div class="w-full max-w-4xl mt-8 text-center">
        <h1 class="text-3xl font-bold text-center mt-8 text-white">
          Encuentro con Jesús 2024
        </h1>
        <p class="text-lg text-gray-300 mb-6 leading-relaxed">
          El Encuentro con Jesús 2024 será un evento transformador donde podrás
          experimentar un profundo acercamiento a Dios. Durante el evento,
          tendremos charlas inspiradoras, bautizos, devocionales y tiempos de
          adoración. Es una oportunidad única para renovar tu fe y fortalecer tu
          relación con Jesús.
        </p>
        <div class="text-left p-4 bg-gray-800 rounded">
          <h2 class="text-2xl font-bold mb-4 text-white">
            Detalles del evento
          </h2>
          <p class="text-lg text-gray-300 mb-2">
            <strong>Fecha:</strong> 7, 8 y 9 de Junio
          </p>
          <p class="text-lg text-gray-300 mb-2">
            <strong>Lugar:</strong> Finca Iglesia Manatial de vida
          </p>
          <p class="text-lg text-gray-300 mb-2">
            <strong>Valor:</strong> 120,000 COP
          </p>
          <p class="text-lg text-gray-300">
            <strong>Recuerda: </strong> Reservar tu cupo con anticiación
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
