---
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import "../../../styles/global.css"; // Asegúrate de que la ruta del archivo CSS sea correcta
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>Detalles del Evento - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Detalles del próximo evento de la Iglesia Asambleas de Dios en Chipre, Manizales."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
    >
      <div class="w-full max-w-4xl mt-8">
        <img
          src="/img/Encuentro2024.jpg"
          alt="Encuentro con Jesús 2024"
          class="w-full rounded"
        />
      </div>
      <div class="w-full max-w-4xl mt-8 text-center">
        <h1 class="text-3xl font-bold text-center mt-8 text-white">
          Encuentro con Jesús 2024
        </h1>
        <p class="text-lg text-gray-300 mb-6 leading-relaxed">
          El Encuentro con Jesús 2024 será un evento transformador donde podrás
          experimentar un profundo acercamiento a Dios. Durante el evento,
          tendremos charlas inspiradoras, bautizos, devocionales y tiempos de
          adoración. Es una oportunidad única para renovar tu fe y fortalecer tu
          relación con Jesús.
        </p>
        <!-- <div class="text-left p-4 bg-gray-800 rounded">
          <h2 class="text-2xl font-bold mb-4 text-white">
            Detalles del evento
          </h2>
          <p class="text-lg text-gray-300 mb-2">
            <strong>Fecha:</strong> 7, 8 y 9 de Junio
          </p>
          <p class="text-lg text-gray-300 mb-2">
            <strong>Lugar:</strong> Finca Iglesia Manatial de vida
          </p>
          <p class="text-lg text-gray-300 mb-2">
            <strong>Valor:</strong> 120.000 COP
          </p>
          <p class="text-lg text-gray-300">
            <strong>Cupos limitados.</strong>
          </p>
        </div> -->
        <!-- <div class="mt-8">
          <a
            href="https://wa.me/3126691924?text=Hola,%20Quiero%20asistir%20al%20encuentro."
            class="whatsapp-button flex items-center justify-center"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i
              class="fab fa-whatsapp text-3xl text-white whatsapp-icon mr-2"
              aria-hidden="true"></i>
            <span>Reserva tu cupo aquí</span>
          </a>
        </div> -->
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  .whatsapp-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #25d366;
    color: white;
    border-radius: 0.375rem;
    text-decoration: none;
    font-weight: bold;
    transition:
      transform 0.3s,
      background-color 0.3s;
  }
  .whatsapp-button:hover {
    background-color: #1ebe57;
    transform: scale(1.1);
  }
  .whatsapp-button::after {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: rgba(37, 211, 102, 0.3);
    border-radius: 0.5rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .whatsapp-button:hover::after {
    opacity: 1;
  }
  .whatsapp-icon {
    animation: pulse 2s infinite;
  }
  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
</style>
