---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/style.css";
import "../styles/pages/about.css";
import Welcome from "./componentsAbout/Welcome.astro";
import History from "./componentsAbout/History.astro";
import CommitmentsTasks from "./componentsAbout/CommitmentsTasks.astro";
import Invitation from "./componentsAbout/Invitation.astro";
import Leadership from "./componentsAbout/Leadership.astro";
import Mission from "./componentsAbout/Mission.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Nosotros | AD Chipre Manizales</title>
    <meta
      name="description"
      content="Página oficial de la Iglesia cristiana, Asambleas de Dios en Manizales, Caldas - Chipre. Conoce más de nuestra historia y nuestros valores."
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="bg-gradient-to-b from-gray-900 to-gray-700 text-gray-200">
    <Header />
    <main class="about-page">
      <Welcome />
      <Leadership />
      <History />
      <Mission />
      <CommitmentsTasks />
      <Invitation />
    </main>
    <Footer />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"
      async></script>
  </body>
</html>
