---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SidebarButtonsContainer from "../components/SidebarButtonsContainer.astro";
import EventCard from "../components/EventCard.astro";
import "../styles/global.css"; // Asegúrate de que la ruta del archivo CSS sea correcta
import "../styles/sidebar-buttons.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>Eventos - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Página de eventos de la Iglesia Asambleas de Dios en Chipre, Manizales."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
    >
      <h1 class="text-3xl font-bold text-center mt-8 text-white">Eventos</h1>

      <section class="w-full max-w-6xl mt-8 p-4">
        <h2 class="text-2xl font-bold mb-4 text-white">Eventos Pasados</h2>
        <div class="event-grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
          <EventCard
            image="/img/Madres.jpg"
            title="Oracion por las Madres"
            date="25 de Mayo"
            link="/events/last/galleryMothers"
          />
          <EventCard
            image="/img/RedGospel.jpg"
            title="Red Gospel"
            date="6 de Abril"
            link="/events/last/galleryRedGospel"
          />
          <EventCard
            image="/img/Concierto.jpg"
            title="Concierto Bautizados en Fuego"
            date="25 de Mayo"
            link="/events/last/galleryConcert"
          />
          <!-- Agrega más tarjetas de eventos pasados aquí -->
        </div>
      </section>

      <section class="w-full max-w-6xl mt-16 p-4">
        <h2 class="text-2xl font-bold mb-4 text-white">Próximos Eventos</h2>
        <div class="event-grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
          <EventCard
            image="/img/SantaCena.jpg"
            title="Santa Cena"
            date="2 de Junio 10:00 a.m"
            link="/events/futures/santaCena"
          />
          <EventCard
            image="/img/Encuentro2024.jpg"
            title="Encuentro con Jesús"
            date="7, 8 y 9 de Junio"
            link="/events/futures/encuentro"
          />
          <!-- Agrega más tarjetas de próximos eventos aquí -->
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
<style>
  .event-grid {
    display: grid;
    gap: 1rem;
  }

  .grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 640px) {
    .sm\:grid-cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .lg\:grid-cols-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
