---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import EventCard from "../components/EventCard.astro";
import "../styles/global.css";
import "../styles/pages/events.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <title>Eventos - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Página de eventos de la Iglesia Asambleas de Dios en Chipre, Manizales."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
    >
      <h1 class="text-3xl font-bold text-center mt-8 text-white">Eventos</h1>

      <section class="w-full max-w-6xl mt-8 p-4">
        <h2 class="text-2xl font-bold mb-4 text-white">Eventos Pasados</h2>
        <div class="event-grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
          <EventCard
            image="/img/Madres.webp"
            title="Oración por las Madres"
            date="25 de Mayo"
            link="/events/last/galleryMothers"
            alt="Imagen del evento Oración por las Madres"
          />
          <EventCard
            image="/img/RedGospel.webp"
            title="Red Gospel"
            date="6 de Abril"
            link="/events/last/galleryRedGospel"
            alt="Imagen del evento Red Gospel"
          />
          <EventCard
            image="/img/Concierto.webp"
            title="Concierto Bautizados en Fuego"
            date="25 de Mayo"
            link="/events/last/galleryConcert"
            alt="Imagen del evento Concierto Bautizados en Fuego"
          />
          <EventCard
            image="/img/Encuentro2024.webp"
            title="Encuentro con Jesús"
            date="7, 8 y 9 de Junio"
            link="/events/last/galleryEncuentro"
            alt="Imagen del evento Encuentro con Jesús"
          />
          <EventCard
            image="/img/OraciónPadres.webp"
            title="Oración por los Padres"
            date="16 de Junio 10:00 a.m"
            link="/events/futures/fathersPray"
            alt="Imagen del evento Encuentro con Jesús"
          />
          <!-- Agrega más tarjetas de eventos pasados aquí -->
        </div>
      </section>

      <section class="w-full max-w-6xl mt-16 p-4">
        <h2 class="text-2xl font-bold mb-4 text-white">Próximos Eventos</h2>
        <div class="event-grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
          <EventCard
            image="/img/SantaCena.webp"
            title="Santa Cena"
            date="7 de Julio 10:00 a.m"
            link="/events/futures/santaCena"
            alt="Imagen del evento Santa Cena"
          />
          <!-- Agrega más tarjetas de próximos eventos aquí -->
        </div>
      </section>
    </main>
    <Footer />
    <!-- Cargar JavaScript de forma asíncrona -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"
      async></script>
  </body>
</html>
