---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalles del Evento - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Detalles del próximo evento de la Iglesia Asambleas de Dios en Chipre, Manizales."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
    >
      <h1 class="text-3xl font-bold text-center mt-8 text-white">
        Detalles del Evento
      </h1>
      <div class="w-full max-w-4xl mt-8 text-center">
        <h2 class="text-2xl font-bold mb-4 text-white">Próximo Evento 1</h2>
        <p class="text-lg text-gray-300 mb-6 leading-relaxed">
          Aquí agregarás la información detallada del próximo evento 1,
          incluyendo la fecha, hora, lugar y otros detalles relevantes.
        </p>
        <img
          src="/img/evento3.jpg"
          alt="Próximo Evento 1"
          class="w-full rounded"
        />
      </div>
    </main>
    <Footer />
  </body>
</html>
