---
import Header from "../components/Header.astro";
import Event from "../components/Event.astro";
import Involved from "../components/Involved.astro";
import SocialMedia from "../components/SocialMedia.astro";
import Content from "../components/Content.astro";
import Countdown from "../components/Countdown.astro";
import "@fortawesome/fontawesome-free/css/all.min.css";
import "../styles/global.css";
import "../styles/style.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo-white.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Asambleas de Dios | Manizales Caldas (Chipre)</title>
    <meta
      name="description"
      content="Página oficial de la Iglesia Asambleas de Dios en Manizales, Caldas (Chipre). Conéctate con nuestros eventos, ministerios y más."
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
  </head>
  <body>
    <Header />
    <main
      class="w-full p-4 bg-gradient-to-t from-black via-gray-900 to-gray-800"
    >
      <Countdown />
      <div class="w-full px-2 py-6">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
          <div class="lg:col-span-2">
            <Event />
          </div>
          <div class="lg:col-span-1">
            <Involved />
            <Content />
            <SocialMedia />
          </div>
        </div>
      </div>
    </main>
    <script defer src="path/to/your/script.js"></script>
    <!-- Defer JS loading -->
  </body>
</html>
