---
import Header from "../components/Header.astro";
import Event from "../components/Event.astro";
import Involved from "../components/Involved.astro";
import SocialMedia from "../components/SocialMedia.astro";
import Content from "../components/Content.astro";
import Countdown from "../components/Countdown.astro";
import NewHere from "../components/NewHere.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/style.css";
import "../styles/sidebar-buttons.css";
import SidebarButtonsContainer from "../components/SidebarButtonsContainer.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <title>Asambleas de Dios | Manizales Caldas (Chipre)</title>
    <meta
      name="description"
      content="Página oficial de la Iglesia Asambleas de Dios en Manizales, Caldas (Chipre). Conéctate con nuestros eventos, ministerios y más."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body class="bg-gray-900 text-white">
    <SpeedInsights />
    <Header />
    <SidebarButtonsContainer />
    <main
      class="w-full p-4 bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700"
    >
      <Countdown />
      <div class="w-full px-2 py-6">
        <div class="w-full mb-6">
          <Event />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
          <NewHere />
          <SocialMedia />
          <Involved />
          <Content />
        </div>
      </div>
    </main>
    <Footer />
    <!-- Cargar JavaScript de forma asíncrona -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"
      async></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
      async></script>
    <script src="../js/index.js"></script>
  </body>
</html>
