---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>Horarios - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Página de horarios de la Iglesia Asambleas de Dios en Chipre, Manizales. Conéctate con nuestros eventos, ministerios y más."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-8"
    >
      <div class="max-w-4xl mx-auto">
        <picture>
          <source srcset="/Horarios.webp" type="image/webp" />
          <source srcset="/Horarios.jpg" type="image/jpeg" />
          <img
            src="/Horarios.jpg"
            alt="Horarios de reuniones de la iglesia, con detalles de las horas y días de servicios"
            class="w-full h-auto rounded-lg shadow-lg"
            loading="lazy"
            width="1600"
            height="900"
          />
        </picture>
      </div>
    </main>
    <Footer />
  </body>
</html>
