---
import "../styles/components/carousel.css";
const { images } = Astro.props;
---

<div class="carousel">
  <div class="carousel-inner" id="carousel-inner">
    {
      images.map((image, index) => (
        <div class="carousel-item">
          <img
            src={image.src}
            alt={image.alt}
            class="w-full h-full object-cover"
            loading="lazy"
          />
        </div>
      ))
    }
  </div>
  <button
    class="carousel-button left"
    id="prevButton"
    aria-label="Previous slide"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 19l-7-7 7-7"></path>
    </svg>
  </button>
  <button class="carousel-button right" id="nextButton" aria-label="Next slide">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"></path>
    </svg>
  </button>
  <div class="carousel-indicators">
    {
      images.map((_, index) => (
        <div class="carousel-indicator" id={`indicator-${index}`}>
          <div class="fill" />
        </div>
      ))
    }
  </div>
</div>

<script src="../js/carousel.js"></script>
