<section
  class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-6 rounded-lg shadow-lg mb-6"
>
  <h2 class="text-2xl font-semibold mb-6 text-center text-white">
    Contenidos de interés
  </h2>
  <ul class="space-y-4">
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 cursor-pointer transition"
    >
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.sociedadbiblicacolombiana.org/wp-content/uploads/PLAN-DE-LECTURA-2023-DIGITAL_compressed.pdf"
        download
        class="flex items-center space-x-4 w-full text-white no-underline"
        aria-label="Descargar Plan de Lectura Bíblica"
      >
        <i
          class="fas fa-bible text-2xl text-white text-opacity-70"
          aria-hidden="true"></i>
        <div class="flex-1">
          <h3 class="text-lg font-semibold px-2">Plan de Lectura Bíblica</h3>
          <p class="text-white text-xs px-2">
            Únete a nuestro plan de lectura anual en Facebook para crecer
            espiritualmente.
          </p>
        </div>
        <i class="fas fa-arrow-right text-xl text-white"></i>
      </a>
    </li>
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 transition"
    >
      <i
        class="fas fa-chalkboard-teacher text-2xl text-white text-opacity-70 py-1"
        aria-hidden="true"></i>
      <div class="flex-1">
        <h3 class="text-lg font-semibold text-white">Centro de formación</h3>
        <p class="text-white text-xs">Fórmate en la vida cristiana.</p>
      </div>
    </li>
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 cursor-pointer transition"
    >
      <a
        href="ministries/missions"
        class="flex items-center space-x-4 w-full text-white no-underline"
        aria-label="Misiones"
      >
        <i
          class="fas fa-globe text-2xl text-white text-opacity-70 py-1 px-1"
          aria-hidden="true"></i>
        <div class="flex-1">
          <h3 class="text-lg font-semibold text-white">Misiones</h3>
          <p class="text-white text-xs">
            Cada mes oramos por la expansión del Evangelio y para alcanzar
            nuevas personas en todo el mundo.
          </p>
        </div>
        <i class="fas fa-arrow-right text-xl text-white"></i>
      </a>
    </li>
  </ul>
</section>
