<section
  class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-6 rounded-lg shadow-lg mb-6"
>
  <h3 class="text-2xl font-semibold mb-6 text-center text-white">
    Contenidos de interés
  </h3>
  <ul class="space-y-4">
    <li class="flex items-start space-x-4">
      <i
        class="fas fa-bible text-2xl text-white text-opacity-70"
        aria-hidden="true"></i>
      <div>
        <h4 class="text-lg font-semibold text-white">
          Plan de Lectura Bíblica
        </h4>
        <p class="text-white text-xs">
          Únete a nuestro plan de lectura anual en Facebook para crecer
          espiritualmente.
        </p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i
        class="fas fa-sun text-2xl text-white text-opacity-70"
        aria-hidden="true"></i>
      <div>
        <h4 class="text-lg font-semibold text-white">Reflexiones</h4>
        <p class="text-white text-xs">
          Inspírate con nuestras reflexiones y devocionales.
        </p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i
        class="fas fa-church text-2xl text-white text-opacity-70"
        aria-hidden="true"></i>
      <div>
        <h4 class="text-lg font-semibold text-white">Predicaciones</h4>
        <p class="text-white text-xs">
          Accede a nuestro archivo de predicaciones y enseñanzas bíblicas en
          YouTube.
        </p>
      </div>
    </li>
  </ul>
</section>
