<section class="bg-transparent p-6 rounded-lg shadow-sm shadow-gray-100 mb-6">
  <h3 class="text-2xl font-semibold mb-6 text-center text-white">
    Contenidos de interés
  </h3>
  <ul class="space-y-4">
    <li class="flex items-start space-x-4">
      <i class="fas fa-bible text-2xl text-white opacity-70" aria-hidden="true"
      ></i>
      <div>
        <h4 class="text-lg font-semibold text-white">
          Plan de Lectura Bíblica
        </h4>
        <p class="text-white text-xs">
          Únete a nuestro plan de lectura anual en Facebook para crecer
          espiritualmente.
        </p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i class="fas fa-sun text-2xl text-white opacity-70" aria-hidden="true"
      ></i>
      <div>
        <h4 class="text-lg font-semibold text-white">Reflexiones Diarias</h4>
        <p class="text-white text-xs">
          Inspírate con nuestras reflexiones y devocionales diarios en
          Instagram.
        </p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i class="fas fa-church text-2xl text-white opacity-70" aria-hidden="true"
      ></i>
      <div>
        <h4 class="text-lg font-semibold text-white">
          Enseñanzas y Predicaciones
        </h4>
        <p class="text-white text-xs">
          Accede a nuestro archivo de predicaciones y enseñanzas bíblicas en
          YouTube.
        </p>
      </div>
    </li>
  </ul>
</section>
