<section class="bg-white p-6 rounded-lg shadow-lg mb-6">
  <h3 class="text-2xl font-semibold mb-6 text-center">Contenidos de interés</h3>
  <ul class="space-y-4">
    <li class="flex items-start space-x-4">
      <i class="fas fa-bible text-2xl"></i>
      <div>
        <h4 class="text-lg font-semibold">Plan de Lectura Bíblica</h4>
        <p class="text-gray-700">
          Únete a nuestro plan de lectura anual en Facebook para crecer
          espiritualmente.
        </p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i class="fas fa-sun text-2xl"></i>
      <div>
        <h4 class="text-lg font-semibold">Reflexiones Diarias</h4>
        <p class="text-gray-700">
          Inspírate con nuestras reflexiones y devocionales diarios en
          Instagram.
        </p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i class="fas fa-church text-2xl"></i>
      <div>
        <h4 class="text-lg font-semibold">Enseñanzas y Predicaciones</h4>
        <p class="text-gray-700">
          Accede a nuestro archivo de predicaciones y enseñanzas bíblicas en
          YouTube.
        </p>
      </div>
    </li>
  </ul>
</section>
