---
import "../styles/countdown.css";
---

<section
  id="countdown"
  class="relative bg-gradient-to-b from-gray-800 via-gray-900 to-black text-white py-5 mx-2 rounded-lg shadow-lg"
>
  <h2 id="countdown-title" class="text-2xl font-normal text-center mb-0 px-4">
    Nuestra próxima reunión es en:
  </h2>
  <div class="text-center text-lg italic" id="next-meeting-label"></div>
  <div
    id="countdown-timer"
    class="flex flex-wrap justify-center items-center space-x-2 sm:space-x-8"
    aria-live="polite"
  >
    <div class="countdown-element text-center">
      <div id="days" class="countdown-time-wrapper">
        <div class="countdown-time" aria-live="polite">0</div>
      </div>
      <div class="countdown-label">Días</div>
    </div>
    <div class="countdown-element text-center">
      <div id="hours" class="countdown-time-wrapper">
        <div class="countdown-time" aria-live="polite">0</div>
      </div>
      <div class="countdown-label">Horas</div>
    </div>
    <div class="countdown-element text-center">
      <div id="minutes" class="countdown-time-wrapper">
        <div class="countdown-time" aria-live="polite">0</div>
      </div>
      <div class="countdown-label">Minutos</div>
    </div>
    <div class="countdown-element text-center">
      <div id="seconds" class="countdown-time-wrapper">
        <div class="countdown-time" aria-live="polite">0</div>
      </div>
      <div class="countdown-label">Segundos</div>
    </div>
  </div>
  <a
    id="live-notification"
    href="https://www.youtube.com/@adchipremanizales2529/streams"
    target="_blank"
    rel="noopener noreferrer"
    class="hidden flex-col items-center justify-center text-center mt-4"
    aria-label="Ver transmisión en vivo en YouTube"
  >
    <h2 class="text-4xl font-bold text-red-600 mb-4 animate-pulse">
      ¡La reunión ha comenzado!
    </h2>
    <div
      class="bg-red-600 text-white m-auto w-fit px-3 py-2 rounded shadow-lg transition transform hover:bg-red-700 text-lg"
    >
      VER TRANSMISIÓN EN VIVO
    </div>
  </a>
</section>

<script src="../js/countdown.js"></script>
