<section id="events" class="bg-transparent text-white rounded-lg shadow-lg">
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4"
  >
    <div class="event-card relative overflow-hidden rounded-lg shadow-lg">
      <a href="#event-1" aria-label="Detalles del Evento 1">
        <img
          src="/anuncio1.jpg"
          alt="Evento 1"
          class="w-full h-full object-cover transition-transform duration-300"
          loading="lazy"
        />
      </a>
    </div>
    <div class="event-card relative overflow-hidden rounded-lg shadow-lg">
      <a href="#event-2" aria-label="Detalles del Evento 2">
        <img
          src="/anuncio2.jpg"
          alt="Evento 2"
          class="w-full h-full object-cover transition-transform duration-300"
          loading="lazy"
        />
      </a>
    </div>
    <div class="event-card relative overflow-hidden rounded-lg shadow-lg">
      <a href="#event-3" aria-label="Detalles del Evento 3">
        <img
          src="/anuncio3.jpg"
          alt="Evento 3"
          class="w-full h-full object-cover transition-transform duration-300"
          loading="lazy"
        />
      </a>
    </div>
    <!-- Añadir más tarjetas de eventos según sea necesario -->
  </div>
</section>

<style>
  .event-card img {
    transition: transform 0.3s ease;
  }

  .event-card:hover img {
    transform: scale(1.05);
  }
</style>
