---
const { image, title, link } = Astro.props;
---

<style>
  .event-card {
    overflow: hidden;
    border-radius: 0.375rem;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .event-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .event-card img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #e2e8f0;
  }

  .event-card-title {
    padding: 0.5rem 1rem;
    background-color: #2d3748;
    color: white;
    text-align: center;
    font-weight: bold;
  }
</style>

<div class="event-card max-w-sm mx-auto">
  <a href={link}>
    <img src={image} alt={title} />
    <div class="event-card-title">{title}</div>
  </a>
</div>
