<footer class="bg-gradient-to-t from-black to-gray-900 text-gray-400 py-4">
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center"
  >
    <!-- Logo -->
    <div class="flex-shrink-0 mb-4 md:mb-0 text-center md:text-left">
      <a href="/" aria-label="Página principal">
        <img
          src="/logosBlancos.png"
          alt="Logo de la Iglesia"
          class="h-28 w-auto text-white"
          loading="lazy"
        />
      </a>
    </div>
    <!-- Sección de información -->
    <div class="mb-4 md:mb-0 text-center md:text-left md:ml-4">
      <h2 class="text-xl font-bold text-gold">
        Asambleas de Dios Chipre - Manizales
      </h2>
      <p class="mt-2">
        <a
          href="https://www.google.com/maps/place/Iglesia+Cristiana+Chipre+Asambleas+De+Dios/@5.0762186,-75.5291487,17z/data=!3m1!4b1!4m6!3m5!1s0x8e476fe21a7a6799:0x2fedc7fb65424c77!8m2!3d5.0762186!4d-75.5265738!16s%2Fg%2F11byckj2dg?entry=ttu"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-gold transition duration-300"
        >
          Cra 9C # 8 - 61
        </a>
      </p>
      <p class="mt-2">
        <a
          href="https://wa.me/3126691924?text=Hola,%20quisiera%20saber%20más%20acerca%20de%20la%20iglesia"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-gold transition duration-300"
        >
          Tel: +57 312 669 1924
        </a>
      </p>
    </div>
    <!-- Sección de enlaces -->
    <div
      class="flex flex-col justify-center text-center md:flex-row space-y-4 md:space-y-0 md:space-x-6 mb-4 md:mb-0"
    >
      <a href="/" class="hover:text-gold transition duration-300">Inicio</a>
      <a href="/about" class="hover:text-gold transition duration-300"
        >Nosotros</a
      >
      <a href="/event" class="hover:text-gold transition duration-300"
        >Eventos</a
      >
    </div>
    <!-- Sección de redes sociales -->
    <div class="flex space-x-4 mt-4 md:mt-0">
      <a
        href="https://www.facebook.com/ADchipreManizales/?locale=es_LA"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-gold transition duration-300"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
        href="https://www.instagram.com/adchipremanizales/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-gold transition duration-300"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        href="https://youtube.com"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-gold transition duration-300"
      >
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
  <div class="text-center mt-6 text-gray-500 text-sm">
    &copy; 2024 Asambleas de Dios Chipre - Manizales. Todos los derechos
    reservados.
  </div>
</footer>

<style>
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .text-gold {
    color: #d4af37;
  }

  .text-light-gray {
    color: #d3d3d3;
  }

  .hover\:text-gold:hover {
    color: #d4af37;
  }

  .flex-shrink-0 img {
    max-height: 112px; /* Ensure the logo has a maximum height */
  }

  @media (max-width: 640px) {
    footer {
      text-align: center;
    }

    .container {
      flex-direction: column;
    }
  }
</style>
