<section class="bg-white p-6 rounded-lg shadow-lg mb-6">
  <h3 class="text-2xl font-semibold mb-6 text-center">Participa</h3>
  <ul class="space-y-4">
    <li class="flex items-start space-x-4">
      <i class="fas fa-hands-praying text-2xl text-black"></i>
      <div>
        <h4 class="text-lg font-semibold">Ayunos congregacionales</h4>
        <p class="text-gray-700">Todos los viernes de 8 a 10 a.m.</p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i class="fas fa-chalkboard-teacher text-2xl text-black"></i>
      <div>
        <h4 class="text-lg font-semibold">Escuela de formación</h4>
        <p class="text-gray-700">Formate en la vida cristiana.</p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i class="fas fa-users text-2xl text-black"></i>
      <div>
        <h4 class="text-lg font-semibold">Ministerios</h4>
        <p class="text-gray-700">
          Has parte de nuestros ministerios y pon en práctica tus dones y
          talentos.
        </p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i class="fas fa-calendar-alt text-2xl text-black"></i>
      <div>
        <h4 class="text-lg font-semibold">Eventos especiales</h4>
        <p class="text-gray-700">
          Únete a nosotros para conferencias, retiros y otras actividades
          especiales.
        </p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i class="fas fa-user-tie text-2xl text-black"></i>
      <div>
        <h4 class="text-lg font-semibold">Desarrollo de liderazgo</h4>
        <p class="text-gray-700">
          Asiste a talleres y programas para desarrollar habilidades de
          liderazgo.
        </p>
      </div>
    </li>
  </ul>
</section>
