<section
  class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-6 rounded-lg shadow-lg mb-6"
>
  <h3 class="text-2xl font-semibold mb-6 text-center text-white">Participa</h3>
  <ul class="space-y-4">
    <li class="flex items-start space-x-4 mt-8">
      <i
        class="fas fa-hands-praying text-2xl text-white text-opacity-70 py-1"
        aria-hidden="true"></i>
      <div>
        <h4 class="text-lg font-semibold text-white">Ayuno congregacional</h4>
        <p class="text-white text-xs">Todos los viernes desde las 8 a.m.</p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i
        class="fas fa-calendar-alt text-2xl text-white text-opacity-70 py-1 px-1"
        aria-hidden="true"></i>
      <div>
        <h4 class="text-lg font-semibold text-white">Oracion</h4>
        <p class="text-white text-xs">
          Te invitamos todos los domingos desde las 9:30 a.m. a unirnos en un
          tiempo especial de oración.
        </p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i
        class="fas fa-user-tie text-2xl text-white text-opacity-70 py-1 px-1"
        aria-hidden="true"></i>
      <div>
        <a href="ministries/youth">
          <h4 class="text-lg font-semibold text-white">
            De Jóvenes para Jóvenes
          </h4>
          <p class="text-white text-xs">
            Asiste a nuestros servicios juveniles los sábados a las 6 p.m.
          </p>
        </a>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i
        class="fas fa-bible text-2xl text-white text-opacity-70 py-1 px-1"
        aria-hidden="true"></i>
      <div>
        <h4 class="text-lg font-semibold text-white">Reuniónes Generales</h4>
        <p class="text-white text-xs">
          Únete a nosotros los miércoles a las 7 p.m. y Domingos a las 10 a.m.
          para nuestra reunión principal.
        </p>
      </div>
    </li>
  </ul>
</section>
