<section
  class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-6 rounded-lg shadow-lg mb-6"
>
  <h3 class="text-2xl font-semibold mb-6 text-center text-white">Participa</h3>
  <ul class="space-y-4">
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 cursor-pointer transition"
    >
      <a
        href="ministries/youths/youth"
        class="flex items-center space-x-4 w-full text-white no-underline"
        aria-label="De Jóvenes para Jóvenes"
      >
        <i
          class="fas fa-user-tie text-2xl text-white text-opacity-70 py-1 px-1"
          aria-hidden="true"></i>
        <div class="flex-1">
          <h4 class="text-lg font-semibold text-white">
            De Jóvenes para Jóvenes
          </h4>
          <p class="text-white text-xs">
            Asiste a nuestros servicios juveniles los sábados a las 6 p.m.
          </p>
        </div>
        <i class="fas fa-arrow-right text-xl text-white"></i>
      </a>
    </li>
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 transition"
    >
      <i
        class="fas fa-hands-praying text-2xl text-white text-opacity-70 py-1"
        aria-hidden="true"></i>
      <div class="flex-1">
        <h4 class="text-lg font-semibold text-white">Ayuno congregacional</h4>
        <p class="text-white text-xs">Todos los viernes desde las 8 a.m.</p>
      </div>
    </li>
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 transition"
    >
      <i
        class="fas fa-calendar-alt text-2xl text-white text-opacity-70 py-1 px-1"
        aria-hidden="true"></i>
      <div class="flex-1">
        <h4 class="text-lg font-semibold text-white">Oración</h4>
        <p class="text-white text-xs">
          Te invitamos todos los domingos desde las 9:30 a.m. a unirnos en un
          tiempo especial de oración.
        </p>
      </div>
    </li>
  </ul>
</section>
