<section
  class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-6 rounded-lg shadow-lg mb-6"
>
  <h3 class="text-2xl font-semibold mb-6 text-center text-white">Participa</h3>
  <ul class="space-y-4">
    <li class="flex items-start space-x-4">
      <i
        class="fas fa-hands-praying text-2xl text-white text-opacity-70 py-1"
        aria-hidden="true"></i>
      <div>
        <h4 class="text-lg font-semibold text-white">
          Ayunos congregacionales
        </h4>
        <p class="text-white text-xs">Todos los viernes de 8 a 10 a.m.</p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i
        class="fas fa-calendar-alt text-2xl text-white text-opacity-70 py-1 px-1"
        aria-hidden="true"></i>
      <div>
        <h4 class="text-lg font-semibold text-white">Oraciones</h4>
        <p class="text-white text-xs">
          Todos los domingos desde las 9:30 am nos unimos en tiempo especial de
          oraci칩n.
        </p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i
        class="fas fa-chalkboard-teacher text-2xl text-white text-opacity-70 py-1"
        aria-hidden="true"></i>
      <div>
        <h4 class="text-lg font-semibold text-white">Escuela de formaci칩n</h4>
        <p class="text-white text-xs">F칩rmate en la vida cristiana.</p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i
        class="fas fa-users text-2xl text-white text-opacity-70 py-1"
        aria-hidden="true"></i>
      <div>
        <h4 class="text-lg font-semibold text-white">Ministerios</h4>
        <p class="text-white text-xs">
          Forma parte de nuestros ministerios y pon en pr치ctica tus dones y
          talentos.
        </p>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <i
        class="fas fa-user-tie text-2xl text-white text-opacity-70 py-1 px-1"
        aria-hidden="true"></i>
      <div>
        <h4 class="text-lg font-semibold text-white">
          Desarrollo de liderazgo
        </h4>
        <p class="text-white text-xs">
          Asiste a talleres y programas para desarrollar habilidades de
          liderazgo.
        </p>
      </div>
    </li>
  </ul>
</section>
