<section
  class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-6 rounded-lg shadow-lg mb-6"
>
  <h3 class="text-2xl font-semibold mb-6 text-center text-white">
    ¿Eres nuevo aquí?
  </h3>
  <ul class="space-y-4">
    <li class="flex items-start space-x-4">
      <a
        href="/about"
        class="flex items-start space-x-4"
        aria-label="Más información sobre nosotros"
      >
        <i
          class="fas fa-home text-2xl text-white text-opacity-70 py-1 px-1"
          aria-hidden="true"></i>
        <div>
          <h4 class="text-lg font-semibold text-white">Bienvenido</h4>
          <p class="text-white text-xs">
            ¡Nos alegra que nos visites! Nuestra iglesia está abierta a todos.
            Únete a nosotros y descubre un lugar donde puedes crecer
            espiritualmente y hacer nuevas amistades.
          </p>
        </div>
      </a>
    </li>
    <li class="flex items-start space-x-4">
      <div class="flex items-start space-x-4">
        <i
          class="fas fa-calendar-check text-2xl text-white text-opacity-70 py-1 px-1"
          aria-hidden="true"></i>
        <div>
          <h4 class="text-lg font-semibold text-white">
            Horarios de Servicios
          </h4>
          <p class="text-white text-xs">
            Tenemos reuniones los Miércoles a las 7:00 pm, Viernes 8:00 am
            (Ayunos), Sábados a las 6:00 pm (Jóvenes) y Domingos a las 10:00 am.
          </p>
        </div>
      </div>
    </li>
    <li class="flex items-start space-x-4">
      <a
        href="https://www.google.com/maps?q=Iglesia+Cristiana+Chipre+Asambleas+De+Dios,+Manizales+Caldas"
        target="_blank"
        class="flex items-start space-x-4"
        aria-label="Ubicación de la iglesia en Google Maps"
      >
        <i
          class="fas fa-map-marker-alt text-2xl text-white text-opacity-70 py-1 px-1.5"
          aria-hidden="true"></i>
        <div>
          <h4 class="text-lg font-semibold text-white">Ubicación</h4>
          <p class="text-white text-xs">
            Nos encontramos en Cra 9c # 8 - 61, Manizales, Caldas. ¡Te
            esperamos!
          </p>
        </div>
      </a>
    </li>
    <li class="flex items-start space-x-4">
      <a
        href="https://wa.me/3126691924?text=Hola,%20vi%20la%20página%20de%20la%20iglesia%20y%20quisiera%20más%20información."
        target="_blank"
        class="flex items-start space-x-4"
        aria-label="Conéctate con nosotros en WhatsApp"
      >
        <i
          class="fas fa-hands-helping text-2xl text-white text-opacity-70 py-1"
          aria-hidden="true"></i>
        <div>
          <h4 class="text-lg font-semibold text-white">
            Conéctate con Nosotros
          </h4>
          <p class="text-white text-xs">
            Únete a nuestros grupos y actividades para conocer más sobre
            nosotros y hacer parte de nuestra comunidad.
          </p>
        </div>
      </a>
    </li>
  </ul>
</section>
