<section
  class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-6 rounded-lg shadow-lg mb-6"
>
  <h3 class="text-2xl font-semibold mb-6 text-center text-white">
    ¿Eres nuevo aquí?
  </h3>
  <ul class="space-y-4">
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 cursor-pointer transition"
    >
      <a
        href="/about"
        class="flex items-center space-x-4 w-full text-white no-underline"
        aria-label="Más información sobre nosotros"
      >
        <i class="fas fa-home text-2xl text-white text-opacity-70"></i>
        <div class="flex-1">
          <h4 class="text-lg font-semibold">Bienvenido</h4>
          <p class="text-white text-xs">
            ¡Nos alegra que nos visites! Nuestra iglesia está abierta a todos.
            Únete a nosotros y descubre un lugar donde puedes crecer
            espiritualmente y hacer nuevas amistades.
          </p>
        </div>
        <i class="fas fa-arrow-right text-xl text-white"></i>
      </a>
    </li>
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 cursor-pointer transition"
    >
      <a
        href="https://www.google.com/maps?q=Iglesia+Cristiana+Chipre+Asambleas+De+Dios,+Manizales+Caldas"
        target="_blank"
        class="flex items-center space-x-4 w-full text-white no-underline"
        aria-label="Ubicación de la iglesia en Google Maps"
      >
        <i class="fas fa-map-marker-alt text-2xl text-white text-opacity-70"
        ></i>
        <div class="flex-1">
          <h4 class="text-lg font-semibold">Ubicación</h4>
          <p class="text-white text-xs">
            Nos encontramos en Cra 9c # 8 - 61, Manizales, Caldas. ¡Te
            esperamos!
          </p>
        </div>
        <i class="fas fa-arrow-right text-xl text-white"></i>
      </a>
    </li>
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 cursor-pointer transition"
    >
      <a
        href="https://wa.me/3126691924?text=Hola,%20vi%20la%20página%20de%20la%20iglesia%20y%20quisiera%20más%20información."
        target="_blank"
        class="flex items-center space-x-4 w-full text-white no-underline"
        aria-label="Conéctate con nosotros en WhatsApp"
      >
        <i class="fas fa-hands-helping text-2xl text-white text-opacity-70"></i>
        <div class="flex-1">
          <h4 class="text-lg font-semibold">Conéctate con Nosotros</h4>
          <p class="text-white text-xs">
            Únete a nuestros grupos y actividades para conocer más sobre
            nosotros y hacer parte de nuestra comunidad.
          </p>
        </div>
        <i class="fas fa-arrow-right text-xl text-white"></i>
      </a>
    </li>
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 cursor-pointer transition"
    >
      <a
        href="/sermons"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center space-x-4 w-full text-white no-underline"
        aria-label="Ver Prédicas en YouTube"
      >
        <i class="fas fa-video text-2xl text-white text-opacity-70"></i>
        <div class="flex-1">
          <h3 class="text-lg font-semibold">Prédicas</h3>
          <p class="text-white text-xs">
            Accede a nuestros videos de prédicas y enseñanzas bíblicas en
            YouTube.
          </p>
        </div>
        <i class="fas fa-arrow-right text-xl text-white"></i>
      </a>
    </li>
  </ul>
</section>
