---
import PrayerForm from "../components/PrayerForm.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo-white.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Peticiones de Oración</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="bg-gray-100">
    <PrayerForm />
  </body>
</html>
