---
import "../styles/components/schedule.css";
---

<div id="scheduleModal" class="modal flex items-center hidden justify-center">
  <!-- Si quiero que se despliegue en todo momento, quitar hidden -->
  <div class="modal-content w-11/12 md:w-2/3 lg:w-1/2 relative">
    <button id="closeModalButton" class="modal-close-button">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    <h2 class="modal-title">Horarios de nuestras reuniones</h2>
    <div class="modal-grid">
      <div class="modal-item bg-miércoles">
        <div class="overlay"></div>
        <h3 class="modal-item-title">Miércoles</h3>
        <h4 class="modal-item-title text-xs font-light">Reunión general</h4>
        <p class="modal-item-time">7 pm</p>
      </div>
      <div class="modal-item bg-viernes">
        <div class="overlay"></div>
        <h3 class="modal-item-title">Viernes</h3>
        <h4 class="modal-item-title text-xs font-light">Ayuno</h4>
        <p class="modal-item-time">8 am</p>
      </div>
      <div class="modal-item bg-sábado">
        <div class="overlay"></div>
        <h3 class="modal-item-title">Sábado</h3>
        <h4 class="modal-item-title text-xs font-light">Jóvenes</h4>
        <p class="modal-item-time">6 pm</p>
      </div>
      <div class="modal-item bg-domingo">
        <div class="overlay"></div>
        <h3 class="modal-item-title">Domingos</h3>
        <h4 class="modal-item-title text-xs font-light">Reunión general</h4>
        <p class="modal-item-time">10 am</p>
      </div>
    </div>
  </div>
</div>
