---
import "../styles/components/schedule.css";
---

<div
  id="scheduleModal"
  class="fixed inset-0 bg-black bg-opacity-80 hidden z-50 flex items-center justify-center"
>
  <div
    class="bg-gray-800 p-8 rounded-lg text-center w-11/12 md:w-2/3 lg:w-1/2 relative"
  >
    <button
      id="closeModalButton"
      class="absolute top-2 right-2 text-white focus:outline-none"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    <h2 class="text-3xl font-bold mb-4 text-white">
      Horarios de nuestras reuniones
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-gray-700 p-4 rounded-lg shadow-md bg-miércoles">
        <h3 class="text-xl font-semibold text-white">Miércoles</h3>
        <p class="text-gray-300">7 PM</p>
      </div>
      <div class="bg-gray-700 p-4 rounded-lg shadow-md bg-viernes">
        <h3 class="text-xl font-semibold text-white">Viernes (Ayuno)</h3>
        <p class="text-gray-300">8 AM</p>
      </div>
      <div class="bg-gray-700 p-4 rounded-lg shadow-md bg-sábado">
        <h3 class="text-xl font-semibold text-white">Sábado (Jóvenes)</h3>
        <p class="text-gray-300">6 PM</p>
      </div>
      <div class="bg-gray-700 p-4 rounded-lg shadow-md bg-domingo">
        <h3 class="text-xl font-semibold text-white">Domingos</h3>
        <p class="text-gray-300">10 AM</p>
      </div>
    </div>
  </div>
</div>
