---
import SidebarButtonAddres from "./SidebarButtons/SidebarButtonAddres.astro";
import SidebarButtonPray from "./SidebarButtons/SidebarButtonPray.astro";
import SidebarButtonWhatsapp from "./SidebarButtons/SidebarButtonWhatsapp.astro";
import "../styles/sidebar-buttons.css";
---

<div
  class="fixed right-0 top-3/4 transform -translate-y-1/2 z-50 flex flex-col items-end space-y-4"
>
  <SidebarButtonAddres />
  <SidebarButtonPray />
  <SidebarButtonWhatsapp />
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const addressButton = document.getElementById("address-button");

    if (addressButton) {
      addressButton.addEventListener("click", (event) => {
        event.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

        // Abrir el enlace en una nueva pestaña
        window.open(addressButton.href, "_blank", "noopener,noreferrer");

        // Recargar la página actual
        window.location.reload();
      });
    }
  });
</script>
