---
import "../styles/sidebar-buttons.css"; // Si necesitas estilos específicos
---

<div class="relative group">
  <a
    id="pray-button"
    href="#peticiones"
    class="sidebar-button flex items-center p-3 rounded-l-full shadow-lg transition-all duration-300 bg-gradient-to-r from-gray-900 via-gray-800 to-gray-700 text-white"
    onclick="handleButtonClick(event)"
  >
    <i class="fas fa-praying-hands text-2xl"></i>
    <span
      class="ml-2 opacity-0 group-hover:opacity-100 transition duration-300 whitespace-nowrap"
    >
      Peticiones de Oración
    </span>
  </a>
</div>
