<section
  class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-6 rounded-lg shadow-lg mb-6"
>
  <h3 class="text-2xl font-semibold mb-6 text-center text-white">
    Visita nuestras redes
  </h3>
  <ul class="space-y-4">
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 cursor-pointer transition"
    >
      <a
        href="https://www.facebook.com/ADchipreManizales/?locale=es_LA"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center space-x-4 w-full text-white no-underline"
        aria-label="Síguenos en Facebook"
      >
        <i
          class="fab fa-facebook-f text-2xl text-blue-600 py-1"
          aria-hidden="true"></i>
        <div class="flex-1">
          <h4 class="text-lg font-semibold px-3">Facebook</h4>
          <p class="text-white text-sm px-3">
            Síguenos para estar al día con los eventos y noticias.
          </p>
        </div>
        <i class="fas fa-arrow-right text-xl text-white"></i>
      </a>
    </li>
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 cursor-pointer transition"
    >
      <a
        href="https://www.instagram.com/adchipremanizales/"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center space-x-4 w-full text-white no-underline"
        aria-label="Síguenos en Instagram"
      >
        <i class="fab fa-instagram text-2xl py-1" aria-hidden="true"></i>
        <div class="flex-1">
          <h4 class="text-lg font-semibold px-1">Instagram</h4>
          <p class="text-white text-sm px-1">
            Encuentra inspiración diaria y fotos de nuestra comunidad.
          </p>
        </div>
        <i class="fas fa-arrow-right text-xl text-white"></i>
      </a>
    </li>
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 cursor-pointer transition"
    >
      <a
        href="https://www.youtube.com/@adchipremanizales2529"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center space-x-4 w-full text-white no-underline"
        aria-label="Síguenos en YouTube"
      >
        <i class="fab fa-youtube text-2xl text-red-600 py-1" aria-hidden="true"
        ></i>
        <div class="flex-1">
          <h4 class="text-lg font-semibold">YouTube</h4>
          <p class="text-white text-sm">
            Mira nuestros servicios, testimonios y enseñanzas en video.
          </p>
        </div>
        <i class="fas fa-arrow-right text-xl text-white"></i>
      </a>
    </li>
    <li
      class="flex items-center space-x-4 border border-gray-600 rounded-lg p-4 bg-gray-800 hover:bg-gray-700 cursor-pointer transition"
    >
      <a
        href="https://wa.me/3126691924?text=Hola,%20quiero%20hacer%20parte%20del%20grupo%20de%20la%20iglesia."
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center space-x-4 w-full text-white no-underline"
        aria-label="Únete a nuestro grupo de WhatsApp"
      >
        <i
          class="fab fa-whatsapp text-2xl text-green-500 py-1"
          aria-hidden="true"></i>
        <div class="flex-1">
          <h4 class="text-lg font-semibold px-1">WhatsApp</h4>
          <p class="text-white text-sm px-1">
            Únete a nuestro grupo de WhatsApp para recibir actualizaciones y
            recursos.
          </p>
        </div>
        <i class="fas fa-arrow-right text-xl text-white"></i>
      </a>
    </li>
  </ul>
</section>
