---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Carousel from "../../components/CarouselEvents.astro";
import "../../styles/global.css";
import CarouselEvents from "../../components/CarouselEvents.astro";

const images = [
  { src: "/img/anuncio1.jpg", alt: "Foto del Evento 1" },
  { src: "/img/anuncio2.jpg", alt: "Foto del Evento 2" },
  { src: "/img/anuncio2.jpg", alt: "Foto del Evento 3" },
  // Agrega más imágenes aquí
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galería del Evento - Iglesia Asambleas de Dios</title>
    <meta
      name="description"
      content="Galería de fotos e información del evento pasado de la Iglesia Asambleas de Dios en Chipre, Manizales."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body
    class="bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 text-white"
  >
    <Header />
    <main
      class="flex flex-col items-center min-h-screen bg-gradient-to-t from-gray-900 via-gray-800 to-gray-700 p-4"
    >
      <h1 class="text-3xl font-bold text-center mt-8 text-white">
        Galería del Evento
      </h1>
      <div class="w-full max-w-4xl mt-8">
        <CarouselEvents images={images} />
      </div>
      <div class="mt-8 text-center">
        <p class="text-lg text-gray-300">
          Información del evento pasado: Concierto "Bautizados en Fuego". Este
          evento se realizó el 25 de mayo con el fin de buscar la llenura del
          Espíritu Santo. Fue una noche llena de adoración y presencia de Dios,
          donde los asistentes pudieron experimentar una conexión profunda y
          significativa.
          <br /><br />
          El concierto contó con la participación de varios artistas cristianos que
          llevaron a la congregación a un tiempo de alabanza y reflexión. Hubo momentos
          de oración y ministración, donde muchas personas fueron tocadas y transformadas
          por el poder del Espíritu Santo.
          <br /><br />
          Agradecemos a todos los que asistieron y a los que colaboraron para que
          este evento fuera posible. ¡Esperamos verlos en nuestros próximos eventos!
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
